<!-- The content below is only a placeholder and can be replaced.

<app-footer></app-footer> -->
<ng-container *ngIf="router.url!=='/login'">
  <div class="row" style="height:100%;padding:0;margin:0">
    <app-menu class="col-sm-2" style="height:100%;padding:46px 0 0 0;margin:0;"></app-menu>
    <div class="col-sm-10" style="padding: 50px 0 0 0;">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="router.url==='/login'">
  <router-outlet></router-outlet>
</ng-container>
