<app-menu class="col-sm-2"></app-menu>
<div class="router">
  <div class="card mb-3">
    <h5 class="card-header">Consultar Salas Disponíveis</h5>
    <div class="card-body">

      <form class="was-validated" id="searchRooms" (ngSubmit)="onSubmit()" #searchForm="ngForm">
        <div class="form-row justify-content-center">
          <div class="input-group col-sm-2">
            <div class="input-group-prepend">
              <label for="edifico" class="input-group-text" title="Edifício">
                <i class="material-icons">business</i>
              </label>
            </div>
            <select class="custom-select" id="edifico" (change)="edificioChanged()" [(ngModel)]="model.edificio" name="edificio" required>
              <option *ngFor="let ed of edificios" [value]="ed">{{ed}}</option>
            </select>
          </div>

          <div class="input-group col-sm-2">
            <div class="input-group-prepend">
              <label for="piso" class="input-group-text" title="Piso">
                <i class="material-icons">trending_up</i>
              </label>
            </div>
            <select class="custom-select" id="piso" (change)="pisoChanged()" [(ngModel)]="model.piso" name="piso">
              <option *ngFor="let p of pisos" [value]="p">{{p}}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="!active || loader">Procurar</button>
        </div>
      </form>

    </div>
  </div>
</div>
