.acordion {
    padding: 0 15px;
}

.head-card {
  position:  absolute;
  bottom: 1rem;
  margin:  0;

}

.card-header {
  position: relative !important;
}

.text-center {
    margin: auto 0;
}

.h1 {
    font-size: 4em;
    color: #5d5d5d;
    margin-top: -3em;
}

.frow {
    display: inline-flex;
    padding: 5em 0 0;
}

.card {
    border: none;
}

.card .col-md-6,
.card .col-md-4 {
    padding: 0;
}

.card-img-top img {
    height: 15em;
}

.card .list-group-item {
    padding: .5em;
}

#btnAlterar {
    float: right;
    margin: 20px;
}

#photoUser {
    padding: 20px;
}

#tipo {
    height: 41.5px;
}

@media only screen and (max-width: 767px) {
    .input-group,
    .col-12 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .form-row,
    .btn-success {
        margin-right: 0!important;
        margin-left: 0!important;
    }
}
