<app-menu class="col-sm-2"></app-menu>
<div class="router">
  <div class="row">
    <div class="col-lg-6 pb-3">
      <div class="card">
        <h5 class="card-header">Novo Acidente</h5>
        <div class="card-body">

          <form (ngSubmit)="onSubmit()" #CriarAcidenteForm="ngForm" class="was-validated">
            <div class="form-row">
              <div class="input-group col-12 pb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text mb-0" for="na_tipo">
                    <i class="material-icons">assignment_late</i>
                  </label>
                </div>
                <input type="text" class="form-control" placeholder="Tipo" id="tipo" [(ngModel)]="model.tipo" (keyup)="verify([model.tipo, model.data, model.descricao])"
                  name="na_tipo" #tipo="ngModel" required>
                <div class="invalid-feedback">É necessário um Tipo</div>
              </div>

              <div class="input-group col-12 pb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text mb-0" for="na_espaco">
                    <i class="material-icons">room</i>
                  </label>
                </div>

                <select class="col" id="edifico" (change)="edificioChanged()" [(ngModel)]="model.edificio" name="na_edificio" required>
                  <option *ngFor="let ed of edificios" [value]="ed['bloco']">C{{ed['bloco']}}</option>
                </select>
                <select class="col" id="piso" (change)="pisoChanged()" [(ngModel)]="model.piso" name="na_piso" required>
                  <option *ngFor="let p of pisos" [value]="p['piso']">{{p['piso']}}</option>
                </select>
                <select class="col" id="sala" [(ngModel)]="model.sala" name="na_sala" required>
                  <option *ngFor="let p of salas" [value]="p['sala']">{{p['sala']}}</option>
                </select>
              </div>

              <div class="input-group col-12 pb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text mb-0" for="na_data">
                    <i class="material-icons">date_range</i>
                  </label>
                </div>
                <input type="text" class="form-control" placeholder="Data" id="na_data" (click)="dataChanged()" name="na_data" data-toggle="datepicker"
                  required>
                <div class="invalid-feedback">É necessário uma Data</div>
              </div>

              <div class="input-group col-12 pb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text mb-0" for="na_descricao">
                    <i class="material-icons">description</i>
                  </label>
                </div>
                <textarea class="form-control" placeholder="Descrição" rows="5" id="na_descricao" [(ngModel)]="model.descricao" (keyup)="verify([model.tipo, model.data, model.descricao])"
                  name="na_descricao" required></textarea>
                <div class="invalid-feedback">É necessário uma Descrição</div>
              </div>

              <div class="row">
                <button type="button" id="limpar" class="btn btn-default" (click)="newModel(); CriarAcidenteForm.reset()">Limpar</button>
                <button type="submit" class="btn btn-success" [disabled]="!active || loader"> Criar Acidente </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Consultar Acidente</h5>
        <div class="card-body">

          <form (ngSubmit)="onSubmit1()" id="find_accident_form">
            <div class="form-row">
              <div class="input-group col-12 pb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text mb-0" for="ca_tipo">
                    <i class="material-icons">assignment_late</i>
                  </label>
                </div>
                <input type="text" class="form-control" placeholder="Tipo" id="ca_tipo" [(ngModel)]="model1.tipo" (keyup)="verify([model1.tipo, model1.data_ini, model1.data_fim])"
                  name="ca_tipo" required>
              </div>

              <div class="input-group col-12 pb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text mb-0" for="ca_espaco">
                    <i class="material-icons">room</i>
                  </label>
                </div>
                <select class="col" id="edifico1" (change)="edificioChanged()" [(ngModel)]="model1.edificio" name="na_edificio" required>
                  <option *ngFor="let ed of edificios" [value]="ed['bloco']">C{{ed['bloco']}}</option>
                </select>
                <select class="col" id="piso1" (change)="pisoChanged()" [(ngModel)]="model1.piso" name="na_piso" required>
                  <option *ngFor="let p of pisos" [value]="p['piso']">{{p['piso']}}</option>
                </select>
                <select class="col" id="sala1" [(ngModel)]="model1.sala" name="na_sala" required>
                  <option *ngFor="let p of salas" [value]="p['sala']">{{p['sala']}}</option>
                </select>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="input-group col-sm-6 pb-3 pl-0">
                    <div class="input-group-prepend">
                      <label class="input-group-text mb-0" for="ca_data_i">
                        <i class="material-icons">date_range</i>
                      </label>
                    </div>
                    <input type="text" class="form-control" placeholder="Data Início" id="na_data" [(ngModel)]="model1.data_ini" onchange="dataChanged()"
                      name="na_data" #data="ngModel" data-toggle="datepicker" required>
                    <div class="invalid-feedback">É necessário uma Data</div>
                  </div>
                  <div class="input-group col-sm-6 pb-3 pr-0">
                    <div class="input-group-prepend">
                      <label class="input-group-text mb-0" for="ca_data_f">
                        <i class="material-icons">date_range</i>
                      </label>
                    </div>
                    <input type="text" class="form-control" placeholder="Data Fim" id="na_data" [(ngModel)]="model1.data_fim" (click)="dataChanged()"
                      name="na_data" #data="ngModel" data-toggle="datepicker" required>
                    <div class="invalid-feedback">É necessário uma Data</div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success ml-1">Consultar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
