<app-menu class="col-sm-2"></app-menu>
<div class="router">
  <div class="row">
    <div class="col-lg-6 pb-3">

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 title="Novo acidente" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Novo Acidente
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

              <form (ngSubmit)="onSubmit()" #CriarAcidenteForm="ngForm" class="was-validated">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text mb-0" for="na_tipo" title="Tipo de acidente">
                      <i class="material-icons">assignment_late</i>
                    </label>
                  </div>
                  <select class="custom-select" id="tipo" [(ngModel)]="model.tipo" name="na_tipo" required>
                    <option *ngFor="let t of tipos" [value]="t">{{t}}</option>
                  </select>
                  <div title="É necessário um tipo" class="invalid-feedback">É necessário um Tipo</div>
                </div>
                <div *ngIf="model.tipo == 'Outro'" class="text-danger pt-1">
                  Indicar na descrição o tipo de acidente.
                </div>

                <div class="form-row pt-3">
                  <div class="input-group col-4 pb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text mb-0" for="na_espaco" title="Edificio">
                        <i class="material-icons">business</i>
                      </label>
                    </div>

                    <select class="custom-select" id="edifico" (change)="edificioChanged()" [(ngModel)]="model.edificio" name="na_edificio" required>
                      <option *ngFor="let ed of edificios" [value]="ed['bloco']">C{{ed['bloco']}}</option>
                    </select>
                  </div>
                  <div class="input-group col-4 pb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text mb-0" for="na_espaco" title="Piso">
                        <i class="material-icons">trending_up</i>
                      </label>
                    </div>

                    <select class="custom-select" id="piso" (change)="pisoChanged()" [(ngModel)]="model.piso" name="na_piso" required>
                      <option *ngFor="let p of pisos" [value]="p['piso']">{{p['piso']}}</option>
                    </select>
                  </div>

                  <div class="input-group col-4 pb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text mb-0" for="na_espaco" title="sala">
                        <i class="material-icons">room</i>
                      </label>
                    </div>

                    <select class="custom-select" id="sala" [(ngModel)]="model.sala" name="na_sala" required>
                      <option *ngFor="let p of salas" [value]="p['sala']">{{p['sala']}}</option>
                    </select>
                  </div>
                </div>


                <div class="input-group pb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text mb-0" for="na_data" title="Data do acidente">
                      <i class="material-icons">date_range</i>
                    </label>
                  </div>
                  <input type="text" class="form-control" placeholder="Data" id="na_data" (click)="dataChanged()" [(ngModel)]="model.data"
                    name="na_data" data-toggle="datepicker" required>
                  <div title="É necessário uma data" class="invalid-feedback">É necessário uma Data</div>
                </div>

                <div class="input-group pb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text mb-0" for="na_descricao" title="Descrição do acidente">
                      <i class="material-icons">description</i>
                    </label>
                  </div>
                  <textarea class="form-control" placeholder="Descrição" rows="5" id="na_descricao" [(ngModel)]="model.descricao" (keyup)="verify([model.tipo, model.data, model.descricao])"
                    name="na_descricao" required></textarea>
                  <div title="É necessário uma descrição" class="invalid-feedback">É necessário uma Descrição</div>
                </div>

                <div class="row">
                  <button type="button" id="limpar" class="btn btn-default mr-3" (click)="newModel(); CriarAcidenteForm.reset()">Limpar</button>
                  <button title="Criar acidente" type="submit" class="btn btn-success" [disabled]="!active || loader"> Criar Acidente </button>
                </div>

                <div title="Ao criar um acidente aceita a política de utilização responsável do serviço" class="text-info pt-3">
                  Ao criar um acidente aceita a política de utilização responsável do serviço.
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-6 pb-3">

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 title="Consultar acidente" class="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Consultar Acidente
            </h5>
          </div>

          <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <form (ngSubmit)="onSubmit1()" id="find_accident_form" class="was-validated">
                <div class="input-group pb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text mb-0" for="ca_tipo" title="Tipo de acidente">
                      <i class="material-icons">assignment_late</i>
                    </label>
                  </div>
                  <select class="custom-select" id="tipo" [(ngModel)]="model1.tipo" name="na_tipo" required>
                    <option [value]="null">Todos os tipos</option>
                    <option *ngFor="let t of tipos" [value]="t">{{t}}</option>
                  </select>
                </div>
                <div class="form-row">
                  <div class="input-group col-4 pb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text mb-0" for="na_espaco" title="Edifício">
                        <i class="material-icons">business</i>
                      </label>
                    </div>

                    <select class="custom-select" id="edifico" (change)="edificioChanged()" [(ngModel)]="model1.edificio" name="na_edificio"
                      required>
                      <option [value]="null">Todos</option>
                      <option *ngFor="let ed of edificios" [value]="ed['bloco']">C{{ed['bloco']}}</option>
                    </select>
                  </div>
                  <div class="input-group col-4 pb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text mb-0" for="na_espaco" title="Piso">
                        <i class="material-icons">trending_up</i>
                      </label>
                    </div>

                    <select class="custom-select" id="piso" (change)="pisoChanged()" [(ngModel)]="model1.piso" name="na_piso" required>
                      <option [value]="null">Todos</option>
                      <option *ngFor="let p of pisos" [value]="p['piso']">{{p['piso']}}</option>
                    </select>
                  </div>

                  <div class="input-group col-4 pb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text mb-0" for="na_espaco" title="Sala">
                        <i class="material-icons">room</i>
                      </label>
                    </div>

                    <select class="custom-select" id="sala" [(ngModel)]="model1.sala" name="na_sala" required>
                      <option [value]="null">Todas</option>
                      <option *ngFor="let p of salas" [value]="p['sala']">{{p['sala']}}</option>
                    </select>
                  </div>

                  <div class="col-12">
                    <div class="row">
                      <div class="input-group col-sm-6 pb-3 pl-0">
                        <div class="input-label input-group-prepend">
                          <label class="input-group-text mb-0" for="ca_data_i" title="Data de início do acidente">
                            <i class="material-icons">date_range</i>
                          </label>
                        </div>
                        <input type="text" class="form-control" placeholder="Data Início" id="na_data_ini" (click)="dataIniChanged()" [(ngModel)]="model1.data_ini"
                          name="na_data_ini" data-toggle="datepicker" required>
                        <div title="É necessário uma data de Início" class="invalid-feedback">É necessário uma Data de Início</div>
                      </div>
                      <div class="input-group col-sm-6 pb-3 pr-0">
                        <div class="input-label input-group-prepend">
                          <label class="input-group-text mb-0" for="ca_data_f" title="Data de fim do acidente">
                            <i class="material-icons">date_range</i>
                          </label>
                        </div>
                        <input type="text" class="form-control" placeholder="Data Fim" id="na_data_fim" (click)="dataFimChanged()" [(ngModel)]="model1.data_fim"
                          name="na_data_fim" data-toggle="datepicker" required>
                        <div title="É necessário uma data de Fim" class="invalid-feedback">É necessário uma Data de Fim</div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success ml-1" [disabled]="!active1">Consultar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="semAcidentes" class="card">
  <div class="card-header">
    <h5 title="Novo acidente" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Sem Acidentes
    </h5>
  </div>

  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <p>Não existem acidentes para esses critérios.</p>
    </div>
  </div>
</div>

<div class="acordion" *ngIf="showAcidentes">

  <div class="card" style="margin-bottom: 0.3rem" *ngFor="let acid of acidentes; let i = index">
    <div class="card-header" [attr.id]="'heading' + acid.id">
      <h5 class="head-card" data-toggle="collapse" [attr.data-target]="'#collapse' + acid.id" aria-expanded="true" [attr.aria-controls]="'collapse' + acid.id">
        Acidente {{acid.date_open}}
      </h5>
      <!-- <button type="button" class="btn btn-primary float-right">
          <h5 class="float-left pr-3" >Estado</h5>
          <span class="badge badge-success">
            <i class="material-icons" title="Acidente fechado">
              check
            </i>
          </span>
          <span class="badge badge-warning" (click)="closeAccident()">
            <i class="material-icons" title="Fechar Acidente" >
              close
            </i>
          </span>
        </button> -->
    </div>

    <div [attr.id]="'collapse' + acid.id" class="collapse" [ngClass]="{'show': i == 0}" [attr.aria-labelledby]="'heading' + acid.id"
      data-parent="#accordion">
      <div class="card-body">
        <div class="row">

          <div class="input-group col-4 pb-3">
            <div class="input-group-prepend">
              <label class="input-group-text mb-0" for="na_tipo">
                <i class="material-icons">assignment_late</i>
              </label>
            </div>
            <input type="text " readonly class="form-control" id="uid " value="{{acid.name}}">
          </div>

          <div class="input-group col-4 pb-3">
            <div title="sala" class="input-group-prepend">
              <label class="input-group-text mb-0" for="na_tipo">
                <i class="material-icons">room</i>
              </label>
            </div>
            <input type="text " readonly class="form-control " id="email " value="C{{acid.espaco}}">
          </div>

          <div class="input-group col-4 pb-3">
            <div title="data" class="input-group-prepend">
              <label class="input-group-text mb-0" for="na_tipo">
                <i class="material-icons">date_range</i>
              </label>
            </div>
            <input type="text " readonly class="form-control " id="email " value="{{acid.date_open}}">
          </div>

          <div class="input-group mx-auto col-12 pb-3">
            <div title="descrição" class="input-group-prepend">
              <label class="input-group-text mb-0" for="na_descricao">
                <i class="material-icons">description</i>
              </label>
            </div>
            <div type="text" readonly class="form-control col-sm-12" id="uid ">{{acid.description}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
