<app-menu class="col-sm-2"></app-menu>
<div class="router">

  <div class="row">

    <div class="col-lg-6 pb-3">
        <div class="card">
            <h5 class="card-header">Novo Acidente</h5>
            <div class="card-body" style="margin:auto">

                <form (ngSubmit)="onSubmit()">
                    <div class="form-row">

                        <div class="input-group col-12 pb-3">
                            <div class="input-group-addon">
                                <label class="input-group-text mb-0" for="tipo"><i class="material-icons">assignment_late</i></label>
                            </div>
                            <input type="text" class="form-control" placeholder="Tipo" id="tipo" [(ngModel)]="model.tipo" name="tipo" required>
                        </div>

                        <div class="input-group col-12 pb-3">
                            <div class="input-group-addon">
                                <label class="input-group-text mb-0" for="espaco"><i class="material-icons">room</i></label>
                            </div>
                            <input type="text" class="form-control" placeholder="Espaço" id="espaco" [(ngModel)]="model.espaco" name="espaco" required>
                        </div>

                        <div class="input-group col-12 pb-3">
                            <div class="input-group-addon">
                                <label class="input-group-text mb-0" for="data"><i class="material-icons">date_range</i></label>
                            </div>
                            <input type="text" class="form-control" placeholder="Data" id="data" [(ngModel)]="model.data" name="data" required>
                        </div>

                        <div class="input-group col-12 pb-3">
                            <div class="input-group-addon">
                                <label class="input-group-text mb-0" for="descricao"><i class="material-icons">description</i></label>
                            </div>
                            <textarea class="form-control" placeholder="Descrição" rows="5" id="descricao" [(ngModel)]="model.descricao" name="descricao" required></textarea>
                        </div>

                        <button type="submit" class="btn btn-success"> Criar Acidente </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <h5 class="card-header">Consultar Acidente</h5>
            <div class="card-body" style="margin:auto">

                <form (ngSubmit)="onSubmit()">
                    <div class="form-row">

                        <div class="input-group col-12 pb-3">
                            <div class="input-group-addon">
                                <label class="input-group-text mb-0" for="tipo"><i class="material-icons">assignment_late</i></label>
                            </div>
                            <input type="text" class="form-control" placeholder="Tipo" id="tipo" [(ngModel)]="model.tipo" name="tipo" required>
                        </div>

                        <div class="input-group col-12 pb-3">
                            <div class="input-group-addon">
                                <label class="input-group-text mb-0" for="espaco"><i class="material-icons">room</i></label>
                            </div>
                            <input type="text" class="form-control" placeholder="Espaço" id="espaco" [(ngModel)]="model.espaco" name="espaco" required>
                        </div>

                        <div class="input-group col-12 pb-3">
                            <div class="input-group-addon">
                                <label class="input-group-text mb-0" for="data"><i class="material-icons">date_range</i></label>
                            </div>
                            <input type="text" class="form-control" placeholder="Data" id="data" [(ngModel)]="model.data" name="data" required>
                        </div>

                        <button type="submit" class="btn btn-success" style="margin-left: 5px" >Consultar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

  </div>

</div>
