nav {
    display: block;
    box-shadow: 0 0 2em black;
}

.bg-primary {
    background-color: #303F9F !important;
}

.navbar-brand {
    padding: 0 .5em;
}

#togglerUser {
    border-radius: 50%;
    border: none;
    display: block;
    padding: 0;
    outline: none;
    cursor: pointer;
}

#photoUser {
    border-radius: 50%;
    height: 2.1em;
}

.user {
    float: right;
}

.brand {
    font-size: 1.5rem;
    float: left;
}

.user .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
}