<nav class="col-sm-12 navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="brand">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashboard" aria-controls="dashboard" aria-expanded="false" id="dashToggle">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="#">CA FCUL</a>
    </div>

    <div class="user">
        <button id='togglerUser' class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src={{this.photo}} id='photoUser'>
        </button>
        <div class='dropdown-menu' aria-labelledby="togglerUser">
            <span class="dropdown-item">Bem vindo
                <a href="#">{{this.name}}</a>
            </span>
            <button type="button" class=" dropdown-item btn btn-sm btn-outline-light" (click)="logout()"> Sair </button>
        </div>
    </div>
</nav>

        <nav class="d-md-block bg-dark sidebar collapse" id='dashboard' aria-labelledby="dashToggle ">
            <!--<li class="nav-item" id="mobileLogo">
                <a class="navbar-brand" href="#">CA FCUL</a>
                <span aria-hidden="true">&times;</span>
                <button class="navbar-toggler close" type="button" data-toggle="collapse" data-target="#dashboard" aria-controls="dashboard" aria-expanded="false" id="dashToggle">
                </button>
            </li>-->
            <div id="sidenav-sticky ">
                <ul class="nav nav-tabs flex-column " id="accordion ">
                    <li class="nav-item ">
                        <a class="nav-link " routerLink="/dashboard" routerLinkActive="active ">Dashboard</a>
                    </li>
                      <a class="nav-link " routerLink="/historico" routerLinkActive="active ">Consultar Histórico</a>
                    <li class="nav-item ">
                        <a class="nav-link " routerLink="/presencas" routerLinkActive="active ">Consultar Presenças</a>
                    </li>
                </ul>
            </div>
        </nav>


<!--
<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-md" style="display: flex;">
    <a class="navbar-brand col-sm-2" href="#">CA FCUL</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse col-sm-10" id="navbarTogglerDemo02">

      <ul class="navbar-nav mr-auto mt-0 mt-md-2">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>

        <i class="material-icons">person_outline</i>
        <button type="button" class="btn btn-sm btn-outline-light my-2 my-sm-0" (click)="logout()">Log out</button>
    </div>
  </nav>
-->
