nav {
    display: block;
    box-shadow: 0 0 2em black;
}

.bg-primary {
    background-color: #303F9F !important;
}

.navbar {
    padding: .5rem 0;
}

.navbar-brand {
    padding: 0 .5em;
    font-size: 1.55rem;
    float: left;
}

#togglerUser {
    border-radius: 50%;
    border: none;
    display: block;
    padding: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
}

#togglerUser::after {
    vertical-align: middle;
    border-top: .4em solid white;
    border-right: .35em solid transparent;
    border-left: .35em solid transparent;
}

#photoUser {
    border-radius: 50%;
    height: 2.5em;
}

.user {
    float: right;
    margin-right: 1rem;
}

.brand {
    float: left;
}

#dashToggle {
    display: none;
    margin-left: 1rem;
}

.user .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        position: absolute;
        width: 50%;
        left: 25%;
        float: none;
        text-align: center;
        top: .5rem;
    }
    #dashToggle {
        display: block;
    }
}

/* akjsbdajlnsd */
.row {
  height: 100%;
}

.outlet {
  padding: 1.5em 1em;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-link {
  color: white!important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.nav-link.active {
  background-color: #c5cae980;
  border-color: transparent;
}

.nav-tabs {
  border-bottom: 0;
}

.sidebar {
  position: relative;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  -webkit-box-shadow: 0 0 2.5em 0.1em grey;
  -moz-box-shadow: 0 0 2.5em 0.1em grey;
  box-shadow: 0 0 2.5em 0.1em grey;
  /* transform: translateZ(10px) */
  padding-top: 2em;
  background-color: #1a2358 !important;
  text-align: left!important;
  animation: fadein 2s;
  transition: background 0.35s linear, height 0.35s ease-in 200ms;
}

.container-fluid {
  padding-top: 2.8em;
  height: 100%;
}

.sidebar-sticky {
  height: 10 0%;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

#mobileLogo {
  display: none;
}

@media only screen and (max-width: 767px) {
  #dashboard {
      position: fixed;
      z-index: 1031;
      padding: 0;
  }
  #mobileLogo {
      display: block;
  }
  #mobileLogo .navbar-brand {
      display: block;
      color: white;
      font-size: 1.55rem;
      position: absolute;
      width: 100%;
      text-align: center;
      top: .2rem;
  }
  .close:focus,
  .close:hover {
      color: white;
  }
  .close {
      position: absolute;
      right: .5em;
      top: .1em;
      font-size: 2.5rem;
      color: white;
      outline: none;
  }
  .sidebar ul {
      padding: 3.5em 0 0;
  }
}
