<div class="row">
  <app-menu class="col-sm-2"></app-menu>
  <div class="router col-sm-10">
      <h1>ADMIN</h1>

      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" email name="email" required>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>

      <div *ngIf='user'>
          <ul>
              <li>{{ user_uid }}</li>
             </ul>
        <ul>
          <li>{{ user_name }}</li>
         </ul>
         <ul>
          <li>{{ user_email }}</li>
         </ul>
         <ul>
          <li>{{ user_type }}</li>
         </ul>
      </div>
  </div>
</div>
