.text-center {
    margin: auto 0;
}

.h1 {
    font-size: 4em;
    color: #5d5d5d;
    margin-top: -3em;
}

.frow {
    display: inline-flex;
    padding: 5em 0 0;
}

.card {
    border: none;
}

.card .col-md-6,
.card .col-md-4 {
    padding: 0;
}

.card-img-top img {
    height: 15em;
}

.card .list-group-item {
    padding: .5em;
}

.btn-warning {
    color: #ffffff;
}

#photoUser {
    padding: 1.5em 2em;
}

#user_row {
    justify-content: center;
}

.col-form-label {
    padding-left: 0;
}

.col-md-3 {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .btn-success {
        margin-top: 1em;
    }
}