/* You can add global styles to this file, and also import other style files */

html,
body,
app-root,
.body {
    height: 100%;
    font-size: 14px;
}

.margin-auto {
    margin: auto;
}

img {
    max-width: 100%;
}

.row {
    padding: 0;
    margin: 0
}

.h-max {
    height: 100%;
}

.router {
    padding: 5em 4em 2em;
    background-color: #eeeeee;
    display: table;
    min-height: 100%;
    width: calc(100% - 15em);
    position: absolute !important;
    right: 0 !important;
}

.card {
    box-shadow: .2em .2em .7em 0 rgba(0, 0, 0, 0.3);
}

app-menu {
    height: 100%;
    padding: 46px 0 0 0 !important;
    margin: 0;
}

.btn-cafcul {
    border-color: #1f0273 !important;
    background-color: #303F9F !important;
    color: white;
}

#btnCont {
    flex: none;
    width: auto;
}

@media only screen and (max-width: 767px) {
    .h-max {
        height: auto;
    }
    .router {
        /* padding: 2em 2em 0; */
        display: block;
        width: 100%;
        padding: 5em 2em 0;
    }
}