/* You can add global styles to this file, and also import other style files */

html,
body,
app-root,
.body {
    height: 100%;
    font-size: 14px;
}

.margin-auto {
    margin: auto;
}

img {
    max-width: 100%;
}

.row {
    height: 100%;
    padding: 0;
    margin: 0
}

.router {
    padding: 5em 3em 0;
}

app-menu {
    height: 100%;
    padding: 46px 0 0 0 !important;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .row {
        height: auto;
    }
    .router {
        padding: 1.5em 2em 0;
    }
}