<app-menu class="col-sm-2"></app-menu>
<div class=" router">
  <div class="card mb-3">
    <h5 class="card-header">Consultar Histórico</h5>

    <app-loader></app-loader>

    <div class="card-body">

      <form class="form-inline" (ngSubmit)="onSubmit()" #searchForm="ngForm">
        <div class="form-row justify-content-center">
          <div class="input-group col-sm-2">
            <div class="input-group-prepend">
              <label for="edifico" class="input-group-text" title="Edifício">
                <i class="material-icons">business</i>
              </label>
            </div>
            <select class="custom-select" id="edifico" (change)="edificioChanged()" [(ngModel)]="model.edificio" name="na_edificio" required>
              <option *ngFor="let ed of edificios" [value]="ed['bloco']">C{{ed['bloco']}}</option>
            </select>
          </div>

          <div class="input-group col-sm-2">
            <div class="input-group-prepend">
              <label for="piso" class="input-group-text" title="Piso">
                <i class="material-icons">trending_up</i>
              </label>
            </div>
            <select class="custom-select" id="piso" (change)="pisoChanged()" [(ngModel)]="model.piso" name="na_piso" required>
              <option *ngFor="let p of pisos" [value]="p['piso']">{{p['piso']}}</option>
            </select>
          </div>

          <div class="input-group col-sm-2">
            <div class="input-group-prepend">
              <label for="sala" class="input-group-text" title="Piso">
                <i class="material-icons">room</i>
              </label>
            </div>
            <select class="custom-select" id="sala" (change)="salaChanged(); verify([model.sala, model.piso, model.edificio])" [(ngModel)]="model.sala" name="na_sala" required>
              <option *ngFor="let p of pisos" [value]="p['piso']">{{p['piso']}}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success" (click)="verify([model.sala, model.piso, model.edificio])" [disabled]="!active || loader">Procurar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered dataTable no-footer">
        <thead>
          <tr>
            <th>Sala</th>
            <th>Hora de Entrada</th>
            <th>Hora de Saida</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pos of histAc" role="row" class="odd">
            <td>{{ pos.sala }}</td>
            <td>{{ pos.inicio }}</td>
            <td>{{ pos.fim }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
