<div class="container-logIn">
  <div id="backgroudBlackFilter"></div>
  <div class="row">
    <div class="card col-11 col-sm-8 col-md-6 col-lg-4 margin-auto">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8 margin-auto" id="image-cont">
              <!-- <img src="https://firebasestorage.googleapis.com/v0/b/fcul-projetofinal-1718.appspot.com/o/ciencias_ul_azul_h.png?alt=media&token=c12a91b6-fd8a-4214-93b7-8c33ef2efee2" alt="Logotipo FCUL"> -->
              <img src="assets/ciencias_ul_azul_h.png" alt="Logotipo FCUL">            
            </div>
        </div>
        <h5 class="card-title">Sistema de Autenticação</h5>
        <div class="text-align-center" id="logIn-btn-contaier">
          <button class="btn btn-primary" (click)="login()">Login Campus</button>
        </div>
        <p>Ao autenticar-se, está a aceitar as normas do serviço prestado.</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="#">Suporte</a>
      </div>
    </div>
  </div>
</div>