.row {
    height: 100%;
}

.nav-link {
    color: white;
}

.sidebar {
    position: relative;
    height: 100%;
    top: 100;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

.container-fluid {
    /* padding-top: 48.75px; */
    height: 100%;
}

.sidebar-sticky {
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
}