<app-menu class="col-sm-2"></app-menu>
<div class="router">

    <div class="card card-user">
        <h5 class="card-header">Perfil</h5>
        <div class="row">
            <div class="col-md-3 card-img-middle">
                <img src={{user_avatar}} id='photoUser' class="rounded-circle" alt="Foto do utilizador">
            </div>

            <div class="col-md-9" id="pad">
                <h5 class="card-title">{{user_name}}</h5>
                <p class="card-text">Email: {{user_email}}</p>
                <p class="card-text">UID: {{user_uid}}</p>
                <p class="card-text">Tipo: {{user_type}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-md-6" id="padTop">
            <div class="card">
                <h5 class="card-header">Histórico de Acessos</h5>
                <div class="p-3">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped dataTable no-footer p-0">
                        <thead>
                            <tr>
                                <th>Sala</th>
                                <th>Hora de Entrada</th>
                                <th>Hora de Saida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pos of histAc" role="row" class="odd">
                                <td>{{ pos.sala }}</td>
                                <td>{{ pos.inicio }}</td>
                                <td>{{ pos.fim }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/historico" class="btn mt-3 float-right">Mais informação</a>
                </div>
            </div>
        </div>

        <div class=" col-md-6" id="padBottom">
            <div class="card">
                <h5 class="card-header">Presenças</h5>
                <div class="p-3">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped dataTable no-footer">
                        <thead>
                            <tr>
                                <th>Sala</th>
                                <th>Hora de Entrada</th>
                                <th>Hora de Saida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pos of histAc" role="row" class="odd">
                                <td>{{ pos.sala }}</td>
                                <td>{{ pos.inicio }}</td>
                                <td>{{ pos.fim }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/presencas" class="btn mt-3 float-right">Mais informação</a>
                </div>
            </div>
        </div>
    </div>
</div>
