#photoUser {
    padding: 1em;
}

.card-user {
    margin-bottom: 1em;
}

.card-img-middle {
    margin: auto;
}

.drow {
    height: 100%;
}

#pad {
    padding: 2em;
}

.col-md-6 {
    padding: 0;
}

#padBottom {
    padding-left: 1em;
}

.btn {
    border-color: #303F9F !important;
    background-color: #303F9F !important;
    color: white;
}

@media (max-width: 600px) {
    #padBottom,
    #padTop {
        padding-bottom: 1em;
        padding-left: 0;
    }
}